@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* START: General styles */
.center {
  @apply flex justify-center items-center;
}
/* End: General styles */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  border-color: black;
}
*::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 247, 246, 241;
  --background-rgb: 247, 246, 241;
}

/* START: Hero styles */
.hero {
  @apply flex-col justify-start border-b-2 border-black relative z-0;
}
.square-btn {
  @apply p-2 hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-sm active:bg-[#0D0D0D];
}
.square-btn-s {
  @apply p-2 w-28 rounded-[20px] border-2 border-black font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[12px] active:bg-[#0D0D0D];
}
.square-btn-m {
  @apply p-2 w-32 rounded-[20px] border-2 border-black  font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[10px] active:bg-[#0D0D0D];
}
.square-btn-l {
  @apply p-2 w-44 rounded-[20px] border-2 border-black  font-bold hover:bg-[#0D0D0D] hover:p-2 hover:text-[#F7F6F1] cursor-pointer text-[10px] active:bg-[#0D0D0D];
}
.circle-outer {
  @apply h-10 w-10 rounded-full bg-[#F7F6F1] border flex justify-center items-center;
}
.circle-inner {
  @apply h-6 w-6 rounded-full bg-[#0D0D0D]  text-[#F7F6F1] flex justify-center items-center;
}
.active {
  @apply bg-[#0D0D0D] text-[#F7F6F1];
}
.square-btn-line {
  @apply w-8 rounded-[8px] border-2 border-black font-bold bg-[#0D0D0D];
}
/* END: Hero styles */


/* Start: Message Sections */

.message {
  @apply bg-[#F7F6F1] text-[#000000] w-[40%] h-12 rounded-md flex justify-start items-center pl-2.5 mt-3.5 ml-5 border border-[#F7F6F1] ;
}
.owner {
  @apply flex-row-reverse bg-[#0D0D0D] text-[#F7F6F1] flex justify-end items-center ml-[57.5%] font-light border-[#F7F6F1] border;
}


/* START: Login Sections */
.logincard {
  height: 37vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25em;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: transform 0.4s ease-in-out;
  position: relative;
  cursor: pointer;
}
.logbackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1px;
  background-color: #0d0d0d;
  transition: transform 0.4s ease-in-out;
}
.logframe-top {
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 0;
  right: -10px;
  bottom: 0;
  background-color: transparent;
  transition: transform 0.4s ease-in-out;
}
.logframe-top::before {
  margin: 5px;
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 96%;
  height: 4%;
  border-right: 1px solid #0d0d0d;
}
.logframe-top::after {
  margin: 5px;
  content: "";
  position: absolute;
  height: 1px;
  left: 92%;
  right: -5px;
  top: 5px;
  width: 6%;
  border-top: 1px solid #0d0d0d;
}
.logframe-bottom {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -15px;
  right: 0;
  bottom: -25px;
  background-color: transparent;
  transition: transform 0.4s ease-in-out;
}
.logframe-bottom::before {
  margin: 5px;
  content: "";
  position: absolute;
  width: 1px;
  bottom: 0;
  left: 0;
  top: 88%;
  height: 10%;
  border-left: 1px solid #0d0d0d;
}
.logframe-bottom::after {
  margin: 5px;
  content: "";
  position: absolute;
  height: 1px;
  right: 99%;
  left: -10px;
  bottom: 5px;
  width: 10%;
  border-top: 1px solid #0d0d0d;
}
.logtop-part {
  flex: 4;
  border-top: 2px solid #f7f6f1;
  margin: 5%;
  margin-bottom: 0;
}

.logbottom-part {
  flex: 8;
  margin: 5%;
  margin-top: -10%;
  border-bottom: 2px solid #f7f6f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  overflow: scroll;
}

.logtop-part::before {
  content: "";
  margin: 5%;
  position: absolute;
  width: 1px;
  top: 0;
  right: 0;
  bottom: 98%;
  height: 2%;
  border-right: 1px solid #f7f6f1;
}

.logtop-part::after {
  content: "";
  margin: 5%;
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
  bottom: 98%;
  height: 2%;
  border-left: 1px solid #f7f6f1;
}

.logbottom-part::before {
  content: "";
  margin: 10%;
  position: absolute;
  width: 1px;
  bottom: 0;
  right: -5%;
  top: 87.2%;
  height: 2%;
  border-right: 1px solid #f7f6f1;
}
.logbottom-part::after {
  content: "";
  margin: 10%;
  position: absolute;
  width: 1px;
  bottom: 0;
  left: -5%;
  top: 87.2%;
  height: 2%;
  border-left: 1px solid #f7f6f1;
}

.login {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  display: block;
  width: 350px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 4px solid #f7f6f1;
}

/* End of the Login */

/* End: Message Sections */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
      rgb(var(--background-rgb))
}